.configurator {
  display: block;
  width: 100vw;
  height: 100vh;
  background: $grey;
}
.panel-main {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
  background: white;
}
.configurator-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 5vw;
}
.running-cost {
  position: absolute;
  top: 4.2vw;
  left: 0;
  padding: 0 0 .5vw .5vw;
  font-size: 1.5vw;
  text-align: left;
  width: 25vw;
  height: 6vw;
  p {
    margin: 0;
  }
}

.panel {
  display: flex;
  flex-direction: row;
  margin-top: 13.7vw;
  padding-left: 8.1vw;
  //background: blue;
  width: 100vw;
  height: 30.5vw;
}

.panel-svg {
  position: absolute;
  top: 9vw;
  left: .2vw;
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #9b9b9b;
  cursor: pointer;
}
.selected-slot, .slot:hover {
  box-shadow: 0 0 .5vw .5vw lightgray, inset 0 0 .5vw .5vw lightgray;
}

.size-l {
  width: 10.46vw;
  height: 10.46vw;
  border-radius: 50%;
  margin: 0 0 1.1vw 1vw;
}
.size-m {
  width: 7.47vw;
  height: 7.47vw;
  border-radius: 50%;
  margin: 0 0 1.1vw 1.1vw;
}
.size-s {
  width: 6.73vw;
  height: 6.73vw;
  border-radius: 50%;
  margin: .3vw 0 1.6vw 1vw;
}
.size-d {
  width: 40vw;
  height: 30vw;
  margin: .5vw;
}
.size-r {
  width: 7vw;
  height: 14vw;
  margin: 1vw;
}
.l-container {
  display: flex;
  width: 11.55vw;
  height: 30vw;
  flex-direction: column;
  z-index: 1;
}
.m-container {
  display: flex;
  width: 9vw;
  height: 30vw;
  flex-direction: column;
  z-index: 1;
}
.s-container {
  display: flex;
  width: 8vw;
  height: 30vw;
  flex-direction: column;
  z-index: 1;
}
.d-container {
  display: flex;
  width: 42vw;
  height: 30vw;
  flex-direction: column;
  z-index: 1;
}
.r-container {
  display: flex;
  width: 9vw;
  height: 30vw;
  flex-direction: column;
  z-index: 1;
}
img {
  height: auto;
  z-index: 1;
}
svg {
  fill: #424242;
  width: 74.8vw;
  height: 35.5vw;

}

//.selected-slot, .slot:hover {
//  border-color: #23547c;
//  box-shadow: 0px 0px 5px 5px #23547c, inset 0px 0px 5px 5px #23547c;
//}

.panel-button-group button {
  margin: 1rem 0.5rem;
  width: 20rem;
}

.panel-button-low-group {
  margin: 0 auto;
  button {
    width: 10rem;
    margin: auto;
    background: $foxbat-light-blue;
    height: 3.5rem;
    .button-text {
      font-size: 1.2rem;
      margin: auto;
      color: white;
    }
  }
}

// SIDEBAR
.sidebar {
  display: flex;
  flex-direction: column;
  //display: block;
  position: absolute;
  top: 0;
  left: 55vw;
  width: 45vw;
  height: 100vh;
  overflow-y: scroll;
}

.sidebar-top {
  position: relative;
  margin-left: 20vw;
  width: 25vw;
  height: 10vw;
  background: $foxbat-blue;
  color: #F5F5F5;
}

.sidebar-top-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0.5vw 1vw;
  top: 0;
  height: 30px;
}

.sidebar-top h3 {
  position: absolute;
  top: 2.5vw;
  width: 25vw;
  margin-left: 0;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
  color: #F2F2F2;
}

.sidebar-lower {
  display: block;
  height: calc(100% - 10vw);
  overflow-y: auto;
  .subset {
    .main-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2vw 0 2vw 21.5vw;
      padding: 0.5vw;
      width: 22vw;
      height: 4vw;
      cursor: pointer;
      border-radius: 0.4vw;
    }
  }
}

.sidebar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23vw;
  height: calc(100% - 100px);
  margin-left: 21vw;
  color: #1b1b1b;
  text-align: left;
  line-height: 150%;
}

.sidebar-text p {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.instrument-list {
  .full-button {
    display: block;
    position: relative;
    width: 45vw;
    height: 13vw;
    .main-button {
      display: block;
      position: absolute;
      margin: 1vw 0 1vw 21.5vw;
      width: 22vw;
      height: 11vw;
      cursor: pointer;
      border-radius: 0.3vw;
    }
    .info {
      display: none;
    }
    .main-button:hover + .info {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 21vw;
      height: 13vw;
      z-index: 10;
      background: gray;
      border-radius: 0.3vw;
    }
  }

  .btnimg {
    position: absolute;
    top: 3.2vw;
    left: 8vw;
    margin: 0;
    width: 7vw;
    height: 7vw;
  }
  .button-text{
    position: absolute;
    margin: 0;
    top: 0.5vw;
    left: 1vw;
    //margin: 1vw 0 1vw 0;
    width: 20vw;
    font-size: 1vw;
    //line-height: .3vw;
  }
}

.sidebar .exit-button-X {
  font-size: 1vw;
  cursor: pointer;
}

.instrument-details {
  padding: 5px;
  width: 100%;
  background: $white-background;
  height: 13vw;
  border-radius: 0.3vw;
}

.previewClass {
  width: 25vw;
  margin-left: 20vw;
}
.instrument-details p {
  font-size: 1.1vw;
  text-align: left;
  line-height: 1.1vw;
}

.instrument-preview {
  //margin: 3rem auto;
  p {
    font-size: 1.8vw;
    text-align: center;
  }
  img {
    display: block;
  }
}

.inactive .main-button {
  background: grey;
}

/*  MEDIA QUEEEEEEERIES */
@media screen and (min-width: 1000px) {
  //.sidebar-lower {
  //  padding: 10px;
  //}
  //.instrument-list {
  //  padding: 0 20px;
  //}
  //.instrument-list .main-button {
  //  width: 100%;
  //  height: fit-content;
  //  margin-top: 10px;
  //}
  //.instrument-list .button-text{
  //  font-size: 1vw;
  //}
}