// COLOURS
$foxbat-blue: #0A64CB;
$foxbat-website-blue: #306ACC;
$foxbat-light-blue: #428bca;
$header-background: white;
$gray: #C4C4C4;
$dark-gray: #333333;
$panel-gray: #424242;
$slot-gray: #606060;
$white-background: #e6e6e6;
$off-white:  #f5f5f5;
$yellow: #ffdc3a;
$popup-background: white;
$input-background: lightyellow;
$warning-red: #8f4343;
$light-red: rgba(255, 0, 0, 0.27);
$color-black: #000;
$charcoal: #1b1b1b;

$font-std: calc(.7rem + .5vw);
$font-info: calc(.9rem + .4vw);
$font-med: calc(.85rem + .65vw);
$font-large: calc(1.1rem + .9vw);
$font-x-large: calc(1.5rem + 1.1vw);

$a22-left-1: 19.58%;
$a22-left-2: 35.15%;
$a22-left-3: 50.58%;
$a22-top-l-1: 29.03%;
$a22-top-l-2: 61.47%;

$a22-left-4: 64.28%;
$a22-top-m-1: 24.81%;
$a22-top-m-2: 49.01%;
$a22-top-m-3: 73%;

$a22-left-5: 71.1%;
$a22-top-s-1: 15.7%;
$a22-top-s-2: 39.7%;
$a22-top-s-3: 63.75%;


$a22-d-left-m: 19%;
$a22-d-top-m-1: 31.8%;
$a22-d-top-m-2: 56.1%;

$a22-d-left-d: 26.15%;
$a22-d-top-d: 12%;

$a22-d-left-r: 69.4%;
$a22-d-top-r-2: 45%;


$a32-left-1: 16.7%;
$a32-left-2: 31.25%;
$a32-left-3: 45.8%;
$a32-top-l-1: 29.8%;
$a32-top-l-2: 60.3%;

$a32-left-4: 58.58%;
$a32-top-m-1: 22.35%;
$a32-top-m-2: 46.1%;
$a32-top-m-3: 69.7%;

$a32-left-5: 64.9%;
$a32-top-s-1: 13.5%;
$a32-top-s-2: 37%;
$a32-top-s-3: 60.5%;


$a32-d-left-d: 14.9%;
$a32-d-top-d: 13%;

$a32-d-left-r: 57%;
$a32-d-top-r-2: 44%;

$a32-d-left-m: 72.27%;
$a32-d-top-m-1: 22.8%;
$a32-d-top-m-2: 45.8%;
